.info
	position: absolute
	top: 37px
	right: 15px
	&_active
		.info
			&__i
				background-color: #46c6ea
				
	&__i
		background-color: #dae1e3
		width: 25px
		height: 25px
		text-align: center
		border-radius: 50%
		cursor: pointer
		transition: .3s
		.icon
			position: relative
			left: 1px
			top: 1px

	&__wrap
		display: none
		position: absolute
		width: 265px
		font-size: 12px
		text-align: center
		bottom: 36px
		left: -120px
		border: 1px solid #47c5e9
		border-radius: 3px
		padding: 10px 13px 12px
		background: white
		&:after
			position: absolute
			content: ''
			width: 16px
			height: 8px
			left: 50%
			bottom: -8px
			margin-left: -8px
			background: url('../../img/bg/info-triangle.png')
	&__close
		position: absolute
		right: -9px
		top: -9px
		cursor: pointer
		transition: .5s
		&:hover
			transform: rotate(90deg)