.input
	&_italic
		position: relative
		top: 2px
		input
			font-weight: 400
			font-style: italic
			border-bottom: 2px solid #949d9f
			width: 170px
			padding-bottom: 3px
			font-size: 15px
			letter-spacing: 1px
			&::placeholder
				color: #949d9f