.select
	position: relative
	display: inline-block
	vertical-align: middle
	&_open
		.select
			&__list
				opacity: 1
				z-index: 10
	&_gray
		p
			background-color: #dae1e3
	p
		position: relative
		width: 100%
		// background: #dbe2e4
		padding: 14.5px 35px 14.5px 15px
		border-radius: 5px
		
		cursor: pointer
		&:before
			position: absolute
			top: 23px
			right: 11px
			content: ''
			background-image: url(../../img/sprite.png)
			background-position: -46px -39px
			width: 8px
			height: 4px
	&__list
		opacity: 0
		z-index: -2
		position: absolute
		background: #dbe2e4
		width: 100%
		border-radius: 5px
		left: 0
		top: 51px
		transition: .3s
		&-item
			font-size: 12px
			display: block
			padding: 3px 15px
			cursor: pointer
			&:first-of-type
				border-radius: 5px 5px 0 0
			&:last-of-type
				border-radius: 0 0 5px 5px
			&:hover
				background: #CAD0D2
	&__parsing
		display: none