.setting
	position: relative
	border-bottom: 1px solid #e9edee
	padding-top: 35px
	padding-bottom: 40px
	&:last-of-type
		border-bottom: none
	&__title
		font-size: 20px
		text-transform: uppercase
		+ .setting__wrap
			margin-top: 18px
	&__desc
		font-size: 12px
		margin-bottom: 18px
	.checkbox
		margin-right: 40px
		&:last-of-type
			margin-right: 0
	.select
		margin-right: 28px