.time
	&__text, &__input
		display: inline-block
		vertical-align: middle
	&__input
		border-radius: 5px
		border: 1px solid #dae1e3
		width: 63px
		padding: 14.5px 15px
		font-size: 15px
		font-weight: 500
		font-family: Roboto
		outline: none
		&::placeholder
			color: #363f41
	&__text
		&_start
			margin-right: 11px
		&_line
			margin-right: 20px
			
		&_end
			// ml
	&__select
		margin-right: 10px !important