.checkbox {
  display: inline-block; }
  .checkbox_gray label:before {
    border: 1px solid #dbe2e4 !important;
    background: #dbe2e4; }
  .checkbox input {
    display: none; }
    .checkbox input:checked + label:after {
      opacity: 1; }
  .checkbox label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block; }
    .checkbox label:before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      left: 0;
      top: 0;
      border: 1px solid #63d0ef; }
    .checkbox label:after {
      opacity: 0;
      content: '';
      position: absolute;
      left: 4px;
      top: 6px;
      background-image: url(../../img/sprite.png);
      background-position: -257px -158px;
      width: 12px;
      height: 9px;
      -webkit-transition: .3s;
      transition: .3s; }
  .checkbox span {
    display: block;
    font-size: 12px;
    padding-left: 35px; }
    .checkbox span i {
      font-style: normal;
      text-decoration: line-through; }

@media screen and (max-width: 767px) {
  .checkbox_gray {
    margin-right: 0 !important; }
  .checkbox label br {
    display: block; }
  .checkbox span {
    padding-top: 5px; } }
