.dots {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px; }
  .dots span {
    display: inline-block;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #ebebeb;
    margin-left: 5.5px;
    margin-right: 5.5px; }
    .dots span.active {
      background: white; }
