.form-line {
  margin-bottom: 37px;
  text-align: left; }
  .form-line:last-of-type {
    margin-bottom: 0; }

.form-group {
  display: inline-block;
  font-size: 0;
  text-align: left;
  margin-right: 29px;
  vertical-align: top; }
  .form-group > span {
    display: block;
    font-size: 15px;
    margin-bottom: 18px; }
  .form-group:last-of-type {
    margin-right: 0; }
