.header {
  background: url("../../img/bg/header-subpage.png") no-repeat center top;
  background-size: cover;
  height: 80px; }
  .header_loggin {
    padding-top: 7%;
    background: none;
    height: auto; }
    .header_loggin .header__logo {
      width: 200px;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%; }
    .header_loggin .header__title {
      font-size: 36px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      letter-spacing: .5px; }
  .header_main {
    height: auto;
    background: url("../../img/bg/bg.png") no-repeat center top;
    background-size: cover;
    padding-top: 71px;
    padding-bottom: 55px;
    color: white;
    text-align: center; }
    .header_main .header:after {
      background: url("../../img/bg/triangle-bg.png") repeat-x center; }
    .header_main .header__logo {
      top: 0;
      width: 349px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 63px; }
    .header_main .header__title {
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .header_main .header__dots {
      margin-top: 5px;
      margin-bottom: 10px; }
    .header_main .header__desc {
      max-width: 1090px;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 1px;
      font-size: 20px;
      margin-bottom: 29px; }
    .header_main .header__icons {
      font-size: 0; }
    .header_main .header__icon {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 91px;
      line-height: 91px;
      width: 68px;
      margin-left: 48px;
      margin-right: 48px; }
      .header_main .header__icon:after {
        position: absolute;
        display: block;
        bottom: -4px;
        content: '';
        width: 68px;
        height: 4px;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto; }
      .header_main .header__icon .icon {
        vertical-align: bottom;
        margin-bottom: 18px; }
    .header_main .header__button {
      margin-top: 70px; }
    .header_main .header__login {
      font-size: 20px;
      font-weight: 300;
      margin-top: 13px; }
      .header_main .header__login a {
        color: #f894a0; }
        .header_main .header__login a:hover {
          border-color: #f894a0; }
  .header__logo {
    display: block;
    position: relative;
    top: 14px; }
    .header__logo img {
      -webkit-transition: .3s;
      transition: .3s; }
  .header__content {
    font-size: 0; }
  .header__links {
    text-align: right;
    padding-top: 30px; }
    .header__links li {
      font-size: 12px;
      margin-left: 8px; }
      .header__links li:first-of-type {
        margin-left: 0; }
    .header__links a {
      color: white;
      padding: 5px 13px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: .3s;
      transition: .3s; }
      .header__links a:hover {
        opacity: .8; }
  .header__face {
    padding-top: 5px; }
    .header__face img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 68px;
      height: 68px; }

@media screen and (max-height: 890px) {
  .header_loggin {
    padding-top: 2%; } }

@media screen and (max-width: 1199px) {
  .header .row {
    padding-right: 15px; }
  .header__logo {
    top: 19px; }
  .header_main {
    padding-top: 34px; }
    .header_main .header__logo {
      margin-bottom: 15px; }
    .header_main .header__desc .color-blue {
      color: white; }
    .header_main .header__button {
      margin-top: 50px; } }

@media screen and (max-width: 991px) {
  .header .row {
    padding-right: 0; }
  .header__face img {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 767px) {
  .header__logo {
    width: 210px; }
  .header_main .header__logo {
    max-width: 100%;
    padding-top: 0; }
  .header_main .header__title {
    font-size: 25px; }
  .header_main .header__desc {
    font-size: 15px;
    margin-bottom: 7px; }
  .header_main .header__button {
    margin-top: 30px; }
  .header_main .header__icon {
    width: 43px;
    margin-left: 20px;
    margin-right: 20px;
    height: 68px;
    line-height: 68px; }
    .header_main .header__icon:after {
      width: 43px; }
    .header_main .header__icon .icon {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      margin-bottom: 0; }
      .header_main .header__icon .icon-linkedin, .header_main .header__icon .icon-twitter {
        position: relative;
        top: -3px; } }

@media screen and (max-width: 450px) {
  .header {
    height: 100px; }
    .header_main, .header_loggin {
      height: auto; }
    .header__logo {
      width: 148px;
      padding-top: 23px;
      top: 0; }
    .header__links {
      text-align: center;
      padding-top: 23px; }
      .header__links ul {
        float: right; }
      .header__links li, .header__links a {
        display: block; }
      .header__links li {
        width: 85px;
        margin: 0; } }

@media screen and (max-width: 390px) {
  .header_main .header__icon {
    margin-left: 10px;
    margin-right: 10px; }
    .header_main .header__icon:first-of-type {
      margin-left: 0; }
    .header_main .header__icon:last-of-type {
      margin-right: 0; } }
