.input_italic {
  position: relative;
  top: 2px; }
  .input_italic input {
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #949d9f;
    width: 170px;
    padding-bottom: 3px;
    font-size: 15px;
    letter-spacing: 1px; }
    .input_italic input::-webkit-input-placeholder {
      color: #949d9f; }
    .input_italic input::-moz-placeholder {
      color: #949d9f; }
    .input_italic input:-ms-input-placeholder {
      color: #949d9f; }
    .input_italic input::placeholder {
      color: #949d9f; }

.input_default input {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dae1e3;
  padding: 14.5px 15px;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  outline: none;
  width: 100%; }
  .input_default input::-webkit-input-placeholder {
    color: gray; }
  .input_default input::-moz-placeholder {
    color: gray; }
  .input_default input:-ms-input-placeholder {
    color: gray; }
  .input_default input::placeholder {
    color: gray; }

.input_md {
  width: 295px; }

.input_sm {
  width: 140px; }

.input_xs {
  width: 63px; }

@media screen and (max-width: 1199px) {
  .input_md {
    width: 270px; } }

@media screen and (max-width: 991px) {
  .input_md {
    width: 295px; } }
