.input_italic {
  position: relative;
  top: 2px; }
  .input_italic input {
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #949d9f;
    width: 170px;
    padding-bottom: 3px;
    font-size: 15px;
    letter-spacing: 1px; }
    .input_italic input::-webkit-input-placeholder {
      color: #949d9f; }
    .input_italic input::-moz-placeholder {
      color: #949d9f; }
    .input_italic input:-ms-input-placeholder {
      color: #949d9f; }
    .input_italic input::placeholder {
      color: #949d9f; }
