.labels {
  font-size: 0; }
  .labels_hashtag .label:before {
    display: inline-block;
    content: '#'; }
  .labels__list {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-bottom: 10px; }
