.page_lk .title {
  margin-top: -10px; }

.page_text .title {
  text-align: center; }

.page_payment .text {
  padding-bottom: 20px; }

.page_contact .text {
  text-align: center;
  padding-bottom: 60px; }

.page_loggin {
  background: url("../../img/bg/bg.png") no-repeat;
  background-size: cover;
  height: 100%;
  height: 100vh; }

.page_main .main {
  padding-top: 0; }

@media screen and (max-height: 767px) {
  .page_loggin {
    height: 100%; }
    .page_loggin .main {
      padding-top: 0; } }

@media screen and (max-width: 1199px) {
  .page_text {
    text-align: center; }
  .page_lk .main {
    padding-top: 48px; }
  .page_contact .text {
    padding-bottom: 20px; } }

@media screen and (max-width: 767px) {
  .page_lk .main {
    padding-top: 0; }
  .page_lk .title {
    text-align: center;
    padding-top: 26px;
    margin-top: 0; }
  .page_contact .text {
    padding-bottom: 0; } }
