.plans {
  background: url("../../img/bg/plans.png") no-repeat center top;
  background-size: cover;
  padding-top: 22px;
  padding-bottom: 70px; }
  .plans__title {
    margin-bottom: 72px; }
    .plans__title_bottom {
      margin-top: 47px;
      margin-bottom: 0; }
  .plans .plan {
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0 7px 43px rgba(0, 0, 0, 0.25);
            box-shadow: 0 7px 43px rgba(0, 0, 0, 0.25); }
    .plans .plan__title span {
      -webkit-transition: .5s;
      transition: .5s; }
    .plans .plan:before, .plans .plan:after {
      -webkit-transition: .5s;
      transition: .5s;
      opacity: 0;
      z-index: 0;
      content: '';
      width: 25px;
      height: 120px;
      display: block;
      position: absolute;
      bottom: 35px;
      left: -57px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: rgba(255, 255, 255, 0.3); }
    .plans .plan:after {
      bottom: 38px;
      left: -18px;
      width: 15px; }
    .plans .plan:hover {
      color: white;
      background: #46c6ea; }
      .plans .plan:hover:before, .plans .plan:hover:after {
        opacity: 1; }
      .plans .plan:hover .plan__title span {
        color: white;
        -webkit-transition: .5s;
        transition: .5s; }
      .plans .plan:hover .plan__data li:before {
        border-color: white; }
    .plans .plan__price {
      padding-bottom: 20px;
      margin-top: 35px; }
    .plans .plan__button {
      z-index: 1;
      width: 100%;
      -webkit-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px;
      margin-top: 0; }
      .plans .plan__button:before {
        top: -30px;
        left: 10px;
        width: 25px; }
      .plans .plan__button:after {
        left: 50px; }
    .plans .plan__trial {
      font-size: 25px;
      padding-top: 10px;
      padding-bottom: 12px; }

@media screen and (max-width: 1450px) {
  .plans {
    background-size: 2100px 130%; } }

@media screen and (max-width: 1199px) {
  .plans {
    padding-bottom: 55px; }
    .plans__title {
      margin-bottom: 25px; }
      .plans__title_bottom {
        margin-top: 0;
        margin-bottom: 0; }
    .plans .plan {
      margin-bottom: 28px; }
      .plans .plan__trial {
        padding-top: 20px;
        padding-bottom: 6px; }
      .plans .plan__term {
        display: inline-block;
        position: relative;
        top: 25px; }
        .plans .plan__term:before {
          content: '/';
          display: inline-block; }
      .plans .plan__price {
        margin-top: -10px; } }

@media screen and (max-width: 767px) {
  .plans__list .col {
    padding-left: 0;
    padding-right: 0; }
  .plans .plan {
    -webkit-border-radius: 0;
            border-radius: 0; }
    .plans .plan__data {
      padding-left: 10px;
      padding-right: 10px; }
    .plans .plan__button {
      margin-left: 0;
      margin-right: 0;
      -webkit-border-radius: 0;
              border-radius: 0; }
    .plans .plan__trial {
      font-size: 20px; } }
