.post {
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dae1e3;
  background-color: #ffffff;
  margin-bottom: 7px;
  font-size: 0;
  -webkit-transition: .3s;
  transition: .3s; }
  .post:hover {
    z-index: 1;
    -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3); }
  .post_posted {
    background: #dbf3fc; }
    .post_posted .post__status .icon {
      background-position: -257px -128px; }
  .post__img, .post__content, .post__status, .post__remove {
    display: inline-block;
    vertical-align: middle; }
  .post__img {
    width: 73px;
    height: 73px;
    -webkit-box-shadow: inset 0 0 0 2px #ffffff;
            box-shadow: inset 0 0 0 2px #ffffff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #daf3fb;
    margin-right: 24px; }
    .post__img img {
      width: 73px;
      height: 73px; }
  .post__content {
    width: 750px;
    margin-right: 90px; }
  .post__title {
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: .7px; }
  .post__data {
    font-size: 12px; }
    .post__data span {
      letter-spacing: .3px; }
    .post__data a {
      color: #bc4352;
      margin-left: 20px; }
      .post__data a:hover {
        border-color: #bc4352; }
  .post__status {
    margin-right: 32px; }
  .post__remove {
    position: relative;
    top: -1px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer; }

@media (max-width: 1199px) {
  .post__content {
    width: 560px; } }

@media (max-width: 991px) {
  .post__content {
    width: 370px;
    margin-right: 30px; } }

@media (max-width: 767px) {
  .post {
    position: relative; }
    .post__img {
      margin-right: 0; }
    .post__content {
      width: 100%;
      padding: 10px;
      margin-right: 0; }
    .post__data {
      position: absolute;
      top: 12px;
      width: 120px;
      left: 50%;
      margin-left: -60px; }
      .post__data span {
        display: block; }
      .post__data a {
        margin-left: 0; }
    .post__remove {
      position: absolute;
      top: 9px;
      right: 18px; }
    .post__status {
      position: absolute;
      top: 43px;
      right: 12px;
      margin-right: 0; } }

@media (max-width: 360px) {
  .post__data {
    margin-left: -40px; } }
