.ribbon {
  z-index: 99;
  position: absolute;
  text-align: center;
  color: white;
  background: #47c5e9;
  width: 100%;
  left: 0;
  top: 0;
  padding: 27px 10px; }
  .ribbon__title, .ribbon__button {
    display: inline-block;
    vertical-align: middle; }
  .ribbon__button {
    width: 85px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px; }

@media screen and (max-width: 700px) {
  .ribbon {
    padding-top: 15px;
    padding-bottom: 15px; }
    .ribbon__button {
      display: block;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto; } }
