.select {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .select_open .select__list {
    display: block;
    opacity: 1;
    z-index: 10; }
  .select_gray p {
    background-color: #dae1e3; }
  .select_default {
    display: block;
    width: 100%; }
    .select_default p {
      border: 1px solid #dae1e3;
      width: 100%; }
    .select_default .select__list {
      border: 1px solid #dae1e3;
      background: white; }
  .select p {
    position: relative;
    width: 100%;
    padding: 14.5px 35px 14.5px 15px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: 15px;
    cursor: pointer; }
    .select p:before {
      position: absolute;
      top: 23px;
      right: 11px;
      content: '';
      background-image: url(../../img/sprite.png);
      background-position: -274px -72px;
      width: 8px;
      height: 4px; }
  .select__list {
    display: none;
    opacity: 0;
    z-index: -2;
    position: absolute;
    background: #dbe2e4;
    width: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    left: 0;
    top: 51px;
    height: 200px;
    -webkit-transition: .3s;
    transition: .3s;
    overflow-y: auto; }
    .select__list-item {
      font-size: 12px;
      display: block;
      padding: 3px 15px;
      cursor: pointer; }
      .select__list-item:first-of-type {
        -webkit-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0; }
      .select__list-item:last-of-type {
        -webkit-border-radius: 0 0 5px 5px;
                border-radius: 0 0 5px 5px; }
      .select__list-item:hover {
        background: #CAD0D2; }
  .select__parsing {
    display: none; }
  .select_md {
    width: 308px; }
  .select_sm {
    width: 140px; }
  .select_xs {
    width: 63px; }
