.select {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .select .jq-selectbox__select {
    height: 49px;
    font-size: 15px;
    font-family: Roboto;
    padding: 7px 30px 0 15px;
    color: #363f41;
    border: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
    font-weight: 500;
    color: #363f41; }
  .select .jq-selectbox__dropdown li {
    display: block; }
  .select .jq-selectbox__trigger {
    width: 26px;
    border: none; }
    .select .jq-selectbox__trigger:before {
      content: '';
      top: 23px;
      right: 10px;
      position: absolute;
      background-image: url(../../img/sprite.png);
      background-position: -274px -72px;
      width: 8px;
      height: 4px; }
    .select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      display: none; }
  .select_open .select__list {
    display: block;
    opacity: 1;
    z-index: 10; }
  .select_gray .jq-selectbox__select {
    background: #dae1e3; }
  .select_default .jq-selectbox__select {
    background: white;
    border: 1px solid #dae1e3 !important; }
  .select_transparent .jq-selectbox__select {
    background: transparent; }
  .select_choose-plan .jq-selectbox__select {
    border-color: black !important; }
  .select_md {
    width: 308px; }
  .select_sm {
    width: 140px; }
  .select_xs {
    width: 63px; }
