.setting {
  position: relative;
  border-bottom: 1px solid #e9edee;
  padding-top: 37px;
  padding-bottom: 40px; }
  .setting:last-of-type {
    border-bottom: none; }
  .setting__title {
    font-size: 20px;
    text-transform: uppercase; }
    .setting__title + .setting__wrap {
      margin-top: 18px; }
  .setting__desc {
    font-size: 12px;
    margin-bottom: 18px; }
  .setting .checkbox {
    margin-right: 40px; }
    .setting .checkbox:last-of-type {
      margin-right: 0; }
  .setting .select {
    margin-right: 28px; }

@media screen and (max-width: 767px) {
  .setting {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px; } }
