.settings__button-desc {
  text-align: center;
  font-size: 15px;
  color: #bc4352;
  margin-top: 18px;
  margin-bottom: 65px; }

.settings__remove {
  text-transform: uppercase;
  color: #aeb0b1;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 53px;
  letter-spacing: 0.5px; }
  .settings__remove:hover {
    color: #363f41;
    cursor: pointer; }
