.why {
  background: #e9fbff;
  padding-top: 68px;
  padding-bottom: 54px; }
  .why__title {
    padding-bottom: 50px; }
  .why__subtitle {
    position: relative;
    font-size: 36px;
    padding-left: 67px;
    margin-bottom: 20px; }
    .why__subtitle:before {
      position: absolute;
      content: '';
      width: 50px;
      height: 21px;
      left: 0;
      top: 35px;
      -webkit-transform: skewY(45deg);
          -ms-transform: skewY(45deg);
              transform: skewY(45deg);
      background: #63D0EF; }
  .why .col-md-4:nth-of-type(2) .why__item {
    padding-left: 16px; }

@media screen and (max-width: 1199px) {
  .why {
    padding-top: 20px;
    padding-bottom: 35px; }
    .why__title {
      padding-bottom: 20px; }
    .why .img-money-pig {
      position: relative;
      left: 20px; } }

@media screen and (max-width: 767px) {
  .why {
    padding-bottom: 5px; }
    .why__subtitle {
      padding-left: 0;
      font-size: 20px;
      color: #8E9C9F; }
      .why__subtitle:before {
        position: relative;
        display: block;
        margin-bottom: 8px;
        background: #EFF0F1;
        top: 0;
        margin-top: 10px;
        margin-bottom: 20px; }
      .why__subtitle:after {
        opacity: 0;
        display: block;
        content: '';
        position: relative;
        background-image: url(../../img/sprite.png);
        background-position: -274px -49px;
        width: 18px;
        height: 11px;
        margin-left: 21px;
        margin-top: 15px; }
    .why__item {
      width: 85px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
      .why__item_active .why__subtitle {
        color: #363f41; }
        .why__item_active .why__subtitle:before {
          background: #63D0EF; }
        .why__item_active .why__subtitle:after {
          opacity: 1; }
    .why__list .col:nth-of-type(1), .why__list .col:nth-of-type(2) {
      float: right; } }
