/* Including fonts */
@font-face {
  src: url("../../fonts/Roboto/Roboto-Thin.ttf");
  font-family: Roboto;
  font-weight: 100; }

@font-face {
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
  font-family: Roboto;
  font-weight: 400; }

@font-face {
  src: url("../../fonts/Roboto/Roboto-Italic.ttf");
  font-family: Roboto;
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
  font-family: Roboto;
  font-weight: 500; }
